<div style="height: 150px; margin: 0 15px; float: left">
    <img
            style="height: 70px"
            alt="logo écume"
            src="https://zupimages.net/up/23/30/yvve.png"
    />
</div>
